* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    scroll-behavior: smooth;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* ======================COMMON======================= */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    min-width: 186px;
    height: 68px;
    padding: 0 16px;
    border-radius: 14px;
    background: var(--primary-color);
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.heading {
    margin-top: 18px;
    color: #0d1111;
    font-weight: 700;
}

.heading.hlv1 {
    width: 458px;
    font-size: 6.2rem;
    line-height: 1.16; /* 116.129% */
}

.heading.hlv2 {
    width: 577px;
    font-size: 4.2rem;
    line-height: 1.33; /* 133.333% */
}

.heading.hlv3 {
    margin-top: 0;
    font-size: 4.2rem;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.desc {
    color: #9da6a5;
    font-weight: 400;
}

.desc.dlv1 {
    margin-top: 46px;
    line-height: 1.78; /* 177.778% */
    font-size: 1.8rem;
}

.desc.dlv2 {
    margin-top: 18px;
    font-size: 1.8rem;
}

.desc.dlv3 {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.68;
}

.desc.dlv4 {
    font-size: 1.4rem;
    line-height: 1.6;
}

.desc.dlv5 {
    margin-top: 27px;
    font-size: 3.2rem;
    line-height: 1.5;
}

.desc.w {
    width: var(--desc-w, 168px);
}

.text {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.text.tlv1 {
    font-size: 1.4rem;
    font-weight: 400;
}
/* ======================HEADER======================= */
.header {
    padding: 42px 0 0;
}

.header.fixed {
    position: sticky;
    top: -42px;
    left: 0;
    background: #fff;
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.header .header-row {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.header .header-row .logo {
    margin-right: 215.5px;
}

.header .nav-list {
    width: 38%;
}

.header .nav-list ul {
    display: flex;
}

.header .nav-list a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 19.5px;
}

.header .nav-list a:hover {
    text-shadow: 1px 0 0 #2f3a3b;
}

.header .header-btn {
    margin-left: auto;
}
.header .sign-in-btn {
    padding-right: 24px;
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
}

.header .sign-up-btn {
    color: var(--primary-color);
    font-size: 1.6rem;
    background: #fff;
    border: 1px solid var(--primary-color);
    height: 48px;
    min-width: 108px;
    border-radius: 6px;
}
/* ======================HERO======================= */
.hero {
    padding: 40px 0 79px;
}

.hero .hero-row {
    display: flex;
}

.hero .hero-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .hero-left .act-btn {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero .hero-left .get-started-btn a {
    color: #fff;
}

.hero .hero-left .btn-watch {
    margin-left: 50px;
    height: 62px;
    width: 62px;
    border-radius: 50%;
}
/* hero right */
.hero .hero-right {
    width: 55%;
    position: relative;
}

.hero .hero-right .img {
    display: block;
    margin-left: auto;
    width: 576px;
    height: 631px;
    object-fit: cover;
    background-color: #e0f7f6;
}
/* INFO BOOKS */
.hero .hero-right .info-books {
    position: absolute;
    left: 25px;
    top: 149px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 17px 25px 18px;
    background-color: #fff;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .hero-right .info-books .line {
    position: absolute;
    top: 45px;
    left: 29px;
    width: 28px;
    height: 4px;
    background-color: #fff;
    border-radius: 999px;
}

.hero .hero-right .sub-text {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .hero-right .sub-text.course {
    width: 55px;
}
/* INFO SCHEDULES */
.hero .hero-right .info-schedules {
    position: absolute;
    bottom: 46px;
    left: 0;
    text-align: center;
    width: 124px;
    padding: 16px 25px 23px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .hero-right .info-schedules .line-schedule {
    margin-top: 12px;
}

.hero .hero-right .info-schedules .line-schedule:first-of-type {
    margin-top: 16px;
}

.hero .hero-right .info-schedules .line-schedule:last-of-type {
    margin-top: 16px;
}
/* INFO USERS */
.hero .hero-right .info-users {
    position: absolute;
    right: 45px;
    bottom: 41px;
    padding: 17px 35px;
    width: 207px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}
.hero .hero-right .avatars {
    margin-top: 8px;
    display: flex;
}
.hero .hero-right .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -7px;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
}

.hero .hero-right .avatar:first-child {
    margin-left: 0px;
}
/* ======================FEATURES======================= */
.features {
    margin-top: 80px;
    padding: 50px 0;
}

.features .features-body {
    width: 1024px;
}

.features .features-list {
    margin-top: 80px;
    display: flex;
    gap: 209px;
}

.features .features-list .item {
    width: calc(100% / 3);
}

.features .features-list .title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}
/* ======================POPULAR======================= */
.popular {
    margin-top: 30px;
    padding: 50px 0;
}

.popular .popular-top .row-top {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .popular-top .row-top .desc {
    margin-top: 0;
}

.popular .popular-top .act-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.popular .popular-list {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}

.popular .popular-list .item {
    width: calc(100% / 3);
    height: 517px;
    position: relative;
}

.popular .popular-list .img {
    vertical-align: bottom;
    width: 100%;
    height: 393px;
    border-radius: 8px;
    object-fit: cover;
}

.popular .popular-list .info {
    position: absolute;
    left: 17px;
    right: 17px;
    bottom: 0;
    margin: 0 auto;
    padding: 18px 25px 29px;
    background-color: #fff;
    width: 325px;
    border-radius: 8px;
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}

.popular .popular-list .title,
.popular .popular-list strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.popular .popular-list .price {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.popular .info > .desc {
    margin-top: 6px;
}

.popular .popular-list .row-text {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.popular .row-text .round {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}
/* ======================STATISTICS======================= */
.statistics {
    margin-top: 165px;
    padding: 50px 0;
}

.statistics .row-statistics {
    width: 862px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.statistics .row-statistics .item-statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics .row-statistics .value {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
}

.statistics .row-statistics span {
    margin-top: 6px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}
/* ======================FEEDBACK======================= */
.feedback {
    margin-top: 164px;
    padding: 50px 0;
}

.feedback .feedback-body {
    display: flex;
    height: 481px;
}

.feedback .feedback-body .feedback-left {
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.feedback .feedback-left .sub-text {
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.feedback .feedback-left .sub-text span {
    color: #070707;
}

.feedback .feedback-left .act-btn {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.feedback .feedback-left .act-btn button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback .feedback-body .feedback-right {
    width: 58%;
    position: relative;
}

.feedback .feedback-right .avatar-pig {
    width: 235px;
    height: 235px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 171px;
    transform: translateY(-50%);
}

.feedback .feedback-right .avatar.small {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .feedback-right .avatar.adjust {
    width: var(--w-adjust, 92px);
    height: var(--h-adjust, 92px);
    border-radius: 50%;
    object-fit: cover;
}

/* POSITION AVATAR*/
.feedback .feedback-right .adjust.position1 {
    position: absolute;
    left: 144px;
    top: 0px;
}

.feedback .feedback-right .adjust.position2 {
    position: absolute;
    right: 0;
    top: 19px;
}

.feedback .feedback-right .small.position3 {
    position: absolute;
    left: 0;
    top: 258px;
}

.feedback .feedback-right .small.position4 {
    position: absolute;
    left: 212px;
    bottom: 0;
}

.feedback .feedback-right .small.position5 {
    position: absolute;
    right: 32px;
    bottom: 29px;
}
/* ======================Started======================= */
.started {
    margin-top: 80px;
    background: #def6f5;
    padding: 76px 0 88px;
}

.started .started-row {
    display: flex;
    align-items: center;
}

.started .started-row .started-left {
    width: 71%;
}

/* ======================Footer======================= */
.footer {
    padding: 131px 0 50px;
}

.footer .footer-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .footer-row .sub-title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer .footer-row .footer-list {
    margin-top: 26px;
}

.footer .footer-row:last-child .footer-list {
    margin-top: 0;
}

.footer .footer-row .footer-list li {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 9px;
}

.footer .footer-row .footer-list a {
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
}

.footer .copyright {
    text-align: center;
    margin-top: 80px;
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
}
