* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    scroll-behavior: smooth;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* ======================COMMON======================= */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    min-width: 186px;
    height: 68px;
    padding: 0 16px;
    border-radius: 14px;
    background: var(--primary-color);
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.desc {
    color: #9da6a5;
    font-weight: 400;
}

.desc.lv1 {
    margin-top: 46px;
    line-height: 1.78; /* 177.778% */
    font-size: 1.8rem;
}

/* ======================HEADER======================= */
.header {
    padding: 42px 0 0;
}

.header.fixed {
    position: sticky;
    top: -42px;
    left: 0;
    background: #fff;
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.header .header-row {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.header .header-row .logo {
    margin-right: 215.5px;
}

.header .nav-list {
    width: 38%;
}

.header .nav-list ul {
    display: flex;
}

.header .nav-list a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 19.5px;
}

.header .nav-list a:hover {
    text-shadow: 1px 0 0 #2f3a3b;
}

.header .header-btn {
    margin-left: auto;
}
.header .sign-in-btn {
    padding-right: 24px;
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
}

.header .sign-up-btn {
    color: var(--primary-color);
    font-size: 1.6rem;
    background: #fff;
    border: 1px solid var(--primary-color);
    height: 48px;
    min-width: 108px;
    border-radius: 6px;
}
/* ======================HERO======================= */
.hero {
    padding: 40px 0 79px;
}

.hero .hero-row {
    display: flex;
}

.hero .hero-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .hero-left .text {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .hero-left .heading {
    width: 458px;
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.hero .hero-left .act-btn {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero .hero-left .get-started-btn a {
    color: #fff;
}

.hero .hero-left .btn-watch {
    margin-left: 50px;
    height: 62px;
    width: 62px;
    border-radius: 50%;
}
/* hero right */
.hero .hero-right {
    width: 55%;
    position: relative;
}

.hero .hero-right .img {
    display: block;
    margin-left: auto;
    width: 576px;
    height: 631px;
    object-fit: cover;
    background-color: #e0f7f6;
}
/* INFO BOOKS */
.hero .hero-right .info-books {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 17px 25px 18px;
    position: absolute;
    left: 25px;
    top: 149px;
    background-color: #fff;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .hero-right .info-books .line {
    position: absolute;
    top: 45px;
    left: 29px;
    width: 28px;
    height: 4px;
    background-color: #fff;
    border-radius: 999px;
}

.hero .hero-right .sub-text {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .hero-right .sub-text.course {
    width: 55px;
}
/* INFO SCHEDULES */
.hero .hero-right .info-schedules {
    position: absolute;
    bottom: 46px;
    left: 0;
    text-align: center;
    width: 124px;
    padding: 16px 25px 23px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .hero-right .info-schedules .line-schedule {
    margin-top: 12px;
}

.hero .hero-right .info-schedules .line-schedule:first-of-type {
    margin-top: 16px;
}

.hero .hero-right .info-schedules .line-schedule:last-of-type {
    margin-top: 16px;
}
/* INFO USERS */
.hero .hero-right .info-users {
    padding: 17px 35px;
    position: absolute;
    right: 45px;
    bottom: 41px;
    width: 207px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}
.hero .hero-right .avatars {
    margin-top: 8px;
    display: flex;
}
.hero .hero-right .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -7px;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
}

.hero .hero-right .avatar:first-child {
    margin-left: 0px;
}
